.customBtn {
    color: white !important;
    margin: 2px;
    background-color: #73A942 !important;
    border: 1px solid #73A942 !important;
}

.customBtn:hover {
    background-color: #245501 !important;
    color: white;
    border: 1px solid #245501;
}
.customBtnDelete:hover {
    background-color: rgb(122, 8, 8) !important;
    color: white;
    border: 1px solid rgb(122, 8, 8) !important;
}

.btnGroupCustom {
  display: flex;
}

.btnToggleCustom {
  background-color: #73A942 !important;
  border: 1px solid #73A942 !important;
  color: white;
}

.btnToggleCustom:hover {
  background-color: #245501 !important;
}

.active {
    background-color: #2e7d32 !important;
  border: 1px solid #2e7d32 !important;
    color: white;
  }
  
  .cardContainer {
    display: flex;
    flex-wrap: wrap;
    margin: 2rem;
  }
  
  .card {
    width: 15rem;
    margin: 1rem;
  }
  @media (max-width: 768px) {
    .card {
      width: calc(100% - 2rem);
      margin: 1rem 1rem;
    }
  
    .cardContainer {
      margin: 0.5rem;
        flex-wrap: wrap;
    }
  }
  